.h-c-header {
  width: 100%;
  height: 100%;
  padding: 0 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  &__left {
    width: 450px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__right {
    width: 450px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__center {
    font-size: 40px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(119, 186, 255, 1) 0%, rgba(233, 248, 255, 1) 73.3154296875%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}