.h-b-page {
  width: 100%;
  height: 100%;
  &-header {
    width: 100%;
    min-height: 68px;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 18px 18px 0;
  }
  &-content {
    width: 100%;
    height: calc(100% - 78px);
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 18px;
    &-operation {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 18px;
    }
    &-table {
      width: 100%;
      height: calc(100% - 68px);
    }
  }
  &-pagination {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

// element-plus 样式
.h-b-page__form {
  .el-select {
    min-width: 200px;
  }
  .el-input {
    min-width: 200px;
  }
}
